<div class="row">
<div class="large-4 columns">
<h2>Yay</h2>
<p> Woo hoo</p>
</div>

<div class="large-8 columns">
<h1>Log In</h1>
<form action="/login" method="post">
	<div class="large-12 columns">
		<input class="large-4 columns" type="text" id="email" name="email" placeholder="Email Address">
	</div>
	<div class="large-12 columns">
		<input type="password" id="password" name="password" placeholder="Password"class="large-4 columns" > &nbsp;
		<button id="toggle-password-field" class="small button alert">Show Password</button>
	</div>
	<div class="large-12 columns">
		<input type="submit" value="Log In" class="small button">
	</div>
</form>
</div>
</div>