<div class="row">
<div class="large-4 columns">
<h2>Yay</h2>
<p> Woo hoo</p>
</div>

<div class="large-8 columns">
<h1>Log In</h1>
<form action="/login" method="post">
	<p>
		<input type="text" id="email" name="email" placeholder="Email Address">
	</p>
	<p>
		<input type="password" id="password" name="password" placeholder="Password">
	</p>
	<p>
		<input type="submit" value="Log In" class="small button">
	</p>
</form>
</div>
</div>